.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.Nav h2 {
  margin: 0;
  font-family: var(--font-nav);
  font-size: 1.5em;
}

.Nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-grow: 1;
  font-family: var(--font-nav);
}

.Nav ul li {
  list-style: none;
  margin: 1em;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0.5em;
  box-sizing: border-box;
}

.Nav ul li a {
  text-decoration: none;
  color: var(--nav-color);
  cursor: pointer;
}

.Nav .icons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.Nav .icons a {
  position: relative;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.Nav .icons a:hover {
  border-bottom: 2px solid var(--button-color);
}

.Nav .icons input {
  position: absolute;
  right: 13%;
  border: none;
  padding: 0.6em 1em;
  border-radius: 15px;
  transition: width 0.7s ease-out;
}

.Nav .icons input:focus {
  outline: 2px solid var(--button-color);
}

@media (max-width: 768px) {
  .Nav {
    flex-direction: row;
    padding: 15px 20px; 
  }

  .Nav h2 {
    position: relative;
    left: 0;
  }

  .Nav ul {
    display: none;
  }

  .Nav ul li {
    margin: 0.5em 0;
    font-size: 1em;
  }

  .Nav .icons {
    grid-gap: 2em;
  }

  .Nav .icons input {
    position: static;
    width: 100%;
    margin-top: 10px;
    padding: 0.5em 1em;
  }
}
