.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  width: 100.57%;
  padding: 0 20px;
  position: relative;
  left: 0;
  top: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.Nav h2 {
  margin: 0;
  font-family: var(--font-nav);
  font-size: 1.5em;
  cursor: pointer;
}

.Nav ul {
  display: flex;
  justify-content: center;
  gap: 0;
  flex-grow: 1;
  font-family: var(--font-nav);
}

.Nav ul li {
  list-style: none;
  margin: 1em;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0.5em;
  box-sizing: border-box;
}

.Nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--nav-color);
  cursor: pointer;
}

.Nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--button-color);
  transition: width 0.3s ease, left 0.3s ease;
}

.Nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

.Nav .icons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.Nav .icons a {
  position: relative;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.Nav .icons a:hover {
  border-bottom: 2px solid var(--button-color);
}

.Nav .icons input {
  position: absolute;
  right: 13%;
  border: none;
  padding: 0.6em 1em;
  border-radius: 15px;
  transition: width 0.7s ease-out;
}

.Nav .icons input:focus {
  outline: 2px solid var(--button-color);
}

.cartCount{
  background-color: var(--button-color);
  position: absolute;
  color: var(--reversed-font-color);
  font-family: var(--font-product);
  padding: 2px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  font-size: .8em;
  right: -2px; 
}

@media (max-width: 900px) {
  .Nav {
    flex-direction: row;
    padding: 20px; 
  }

  .Nav h2 {
    position: relative;
    left: 0;
  }

  .Nav ul {
    display: none;
  }

  .Nav ul li {
    margin: 0.5em 0;
    font-size: 1em;
  }

  .Nav .icons {
    grid-gap: 2em;
  }

  .Nav .icons input {
    position: relative;
    width: 100%;
    padding: 0.5em 1em;
    right: -50px !important;
  }
}
