.productCart {
  min-width: 80%;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.productCart div {
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  font-family: var(--font-product);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: -80px;
  justify-content: flex-start;
}

.productCart label:first-child {
  background-color: #000;
  color: #fff;
  width: 60%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.productCart label:nth-child(2) {
  background-color: #fff;
  width: 50px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

.productCart label {
  margin-left: 10px;
}

.productCart h2, .productCart p {
  text-align: center;
  width: 90%;
  box-sizing: border-box;
}

.productCart img {
  border-radius: 10px;
}

.productCart .buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  align-items: center;
  position: absolute;
  & > *{
    cursor: pointer;
  }
}

@media screen and (min-width: 900px) {
  .productCart {
    width: 48%;
    flex-direction: row;
    margin: 1em;
  }

  .productCart div {
    align-items: center;
    width: 100%;
  }

  .productCart h2, .productCart p {
    text-align: left;
    left: 0;
  }

  .productCart .buttons {
    position: absolute;
    top: 165px;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .productCart .buttons{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    bottom: -90px;
    position: absolute;
    justify-content: center;
  }
}